<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/extJS/theme-neptune/resources/theme-neptune-all.css}"/>
    <script type="text/javascript" th:src="@{/extJS/ext-all.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/locale/locale-ru.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/theme-neptune/theme-neptune.js}"></script>
    <script type="text/javascript" th:src="@{/js/settings/usdCourse/app.js}"></script>
</head>
<body>
<h1>Замена USD курса</h1>
</body>
</html>